<h2>
  Edit task: #{{ to_do.id }}
</h2>

<div class="panel panel-danger" ng-show="errors != ''">
  <div class="panel-body bg-danger">
    <strong class="text-danger">Following validation errors have occurred:</strong>
    <div ng-repeat="(k,v) in errors">
      <strong>{{ k }}:</strong> {{ v[0] }}
    </div>
  </div>
</div>

<div class="well">
  <form ng-submit="update(to_do)">
    <div class="form-group">
      <label>
        Task
      </label>
      <input id="to_do_content" ng-model="to_do.content" name="to_do[content]" type="text"  class="form-control"/>
    </div>
    <div class="form-group">
      <label>
        Priority
      </label>
        <select id="to_do_priority" ng-model="to_do.priority" name="to_do[priority]" class="form-control">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
    </div>
    <div class="form-group">
      <label>
        Due date
      </label>

      <input id="to_do_due_date" ng-model="to_do.due_date" name="to_do[due_date]" type="date"  class="form-control"/>
    </div>
    <div class="actions">
      <input name="commit" type="submit" value="Create" class="btn btn-primary" />
      &nbsp;or&nbsp;
      <a href="#to_dos">cancel</a>
    </div>
  </form>
</div>
